@media only screen and (max-width: 1280px) {

	.row {
		padding: 0 1%;
	}

	/*-- Header --*/

	.working-time {
	    padding: 9px 0 0 0;
	}

	.top-nav li {
		padding: 4px 8px;
		text-align: center;
	}

	.main-nav-links li {
	    padding: 13px 25px;
	}

	/*-- /Header --*/

}


@media only screen and (max-width: 1024px) {

	.row {
		padding: 0 2%;
	}

	/*-- Header --*/

	.header-top-row {
		padding: 17px 0;
	}

	.top-nav li {
		width: 49.5%;
	    padding: 4px 10px 4px 0;
	    text-align: center;
	}

	.top-nav li:nth-child(2n + 1) {
		/*outline: 1px solid blue;*/
		text-align: right;
		padding: 4px 14px 4px 0;
	}

	.top-nav li:nth-child(2n) {
		/*outline: 1px solid red;*/
		text-align: left;
		padding: 4px 0 4px 14px;
	}

	.tel-icon {
	    display: none;
	}

	.top-nav {
	    text-align: center;
	    padding: 0;
	}

	.main-nav-links li {
	    padding: 28px 15px;
	}

	.main-nav-link {
	    font-size: 23px;
	}

	/*-- /Header --*/

}


@media only screen and (max-width: 900px) {

	/*-- Header --*/

	.main-nav-links li {
	    padding: 28px 11px;
	}

	.main-nav-link {
	    font-size: 20px;
	}

	/*-- /Header --*/

}

@media only screen and (max-width: 768px) {

	/*-- Header --*/

	/*.header {
		display: block;
	    width: 100%;
	    position: fixed;
	    top: 0;
	    left: 0;
	    z-index: 10;
	}*/

	h2 {
	    text-align: left;
	}

	.respmenu-btn-box {
	    display: inline-block;
	    vertical-align: middle;
	}

	.header-top-row .col-1 {
		width: 46%;
	}

	.working-time {
		display: none;
	}

	.header-top-row .col-2 {
	    display: none;
	}

	.header-top-row .col-3 {
	    display: none;
	}

	.resp-working-time {
	    display: inline-block;
	    vertical-align: middle;
	}

	.main-nav {
	    display: none;
	}

	/*-- /Header --*/

	.promo-slider {
	    height: 560px;
	}

	.advantage-thumbnails .thumbnail {
	    width: 33.33%;
	}

	 .sort-links li {
	    padding: 10px 14px;
	}

	h2.resp-padding {
		padding-left: 23%;
		padding-right: 23%;
	}

	.two-cols-photo .col-1,
	.two-cols-photo .col-2 {
	    width: 100%;
	}

	.two-cols-photo .thumb-photo.big-photo {
	    height: 754px;
	}

	.two-cols-photo .thumb-photo.big-photo .img-box {
	    height: 640px;
	}

	.two-cols-photo .col-2 .thumb-photo {
	    width: 50%;
	}

	.thumb-photo .img-box {
	    height: 250px;
	}

	.thumb-photo {
	    width: 50%;
	    margin-bottom: 33px;
	}

	.price-kitchen-sect {
	    padding: 45px 0;
	}

	.count-price {
	    width: 98%;
	    padding: 30px 1% 30px 1%;
	}

	.count-price h3 {
	    padding: 0 0 10px 0;
	}

	.upload-box {
		padding: 20px 1%;
	}

	.kitchen-sheme {
	    width: 100%;
	}

	.sect-6-m-p {
	    padding: 130px 0 45px 0;
	}

	.two-cols-atr.designer .right {
	    width: 100%;
	    min-height: auto;
	    float: none;
	}

	.two-cols-atr.designer .left {
	    width: 100%;
	    float: none;
	}

	.img-w-desc.designer {
	    width: 100%;
	    min-height: 617px;
	    display: block;
	    position: relative;
	}

	.img-w-desc.designer img {
	    display: block;
	    height: auto;
	    max-height: 618px;
	    max-width: 405px;
	    position: absolute;
	    bottom: 0;
	    left: 20%;
	}

	.designer-info {
	    bottom: -59px;
	    left: 30%;
	}

	p.italic {
	    padding: 0;
	}

	.contact-section {
	    padding: 35px 0 0 0;
	}

	.contact-tabs .tab-box {
	    width: 50%;
	    padding: 14px 2% 5px 2%;
	}

	.contact-tabs .tab-box .tab {
	    min-height: 115px;
	}

	.contact-tabs .tab p.address {
	    font-size: 17px;
	    line-height: 20px;
	}

	.contact-tabs .tab .tel-link-tab {
	    margin: 5px 0;
	    font-size: 17px;
	    line-height: 21px;
	}

	/*-- Footer --*/

	.footer {
    	padding: 40px 0 45px 0;
	}

	.footer .col {
		display: block;
		width: 100%;
		padding: 10px 0;
		text-align: center;
	}

	.vlad-web {
		float: none;
		margin: 0 auto;
	}

	.vlad-web img {
		display: block;
		margin: 5px auto;
		float: none;
	}

	.vlad-web p {
		display: block;
		text-align: center;
		margin: 0 auto;
		padding: 0;
		float: none;
	}


	/*-- /Footer --*/

}

@media only screen and (max-width: 600px) {

	.respmenubtn {
	    width: 50px;
	    height: 50px;
	    padding-top: 4px;
	}

	.respmenubtn span {
	    width: 30px;
	    height: 3px;
	    margin: 0 auto 4px auto;
	}

	.respmenubtn span:nth-child(2) {
		width: 30px;
		margin: 0px auto 4px auto;
	}

	.respmenubtn-active span {
	    width: 33px !important;
	    top: -3px;
	    left: 0;
	}

	.respmenubtn-active span:first-child {
	    margin: 4px 0 0 0;
	    top: 0;
	    left: 8px;
	}

	.respmenubtn-active span {
	    width: 33px !important;
	    top: -3px;
	    left: 0;
}

	.header-resp-navigation .col-1 {
	    width: 78%;
	}

	.header-resp-navigation .logo-box {
	    display: inline-block;
	    vertical-align: middle;
	}

	.header-resp-navigation .tel-link-p {
		display: none;
	}

	.header-resp-navigation .col-2 {
		display: none;
	}

	.two-cols-atr-sect {
	    padding: 80px 0 20px 0;
	}

	.two-cols-atr.designer .left {
	    display: none;
	}

	.sect-6-m-p {
	    padding: 50px 0 45px 0;
	}

}

@media only screen and (max-width: 480px) {

	.resp-center {
		text-align: center;
	}

	h2 {
	    padding: 0 0 20px 0;
	    font-size: 36px;
	    line-height: 37px;
	}

	/*-- Header --*/

	.respmenu-btn-box {
		width: 29%;
	}

	.resp-working-time {
	    display: none;
	}

	.header-top-row .col-1 {
		width: 71%;
	}

	/*-- /Header --*/

	h2.resp-padding {
	    padding-left: 0;
	    padding-right: 0;
	}

	.promo-slider {
		height: 300px;
	}

	.slick-dots {
	    padding: 6px 0;
	}

	.advantage-sect {
	    padding: 45px 0 30px 0;
	}

	.advantage-thumbnails .thumbnail {
	    width: 50%;
	    padding: 10px 0;
	}

	.circle-h-box {
	    margin: 0 0 55px 0;
	}

	.two-cols-photo {
		padding: 30px 0 0 0;
	}

	.two-cols-photo .thumb-photo.big-photo {
	    height: 405px;
	}

	.two-cols-photo .thumb-photo.big-photo .img-box {
	    height: 300px;
	}

	.two-cols-photo .col-2 .thumb-photo {
	    width: 100%;
	}

	.thumb-photo {
	    width: 100%;
	    margin-bottom: 33px;
	}

	.contact-tabs .tab-box .tab {
	    min-height: 105px;
	}

	.contact-tabs .tab p.address {
	    font-size: 13px;
	    line-height: 18px;
	}

	.contact-tabs .tab .tel-link-tab {
	    margin: 4px 0;
	    font-size: 14px;
	    line-height: 21px;
	}

	.pagination li .pagination-link {
		border: 1px solid transparent!important;
		background: transparent !important;
		font-size: 16px;
		font-weight: bold;
	}

	.pagination li .pagination-arrow {
		display: none;
	}

	.pagination li .pagination-link:hover,
	.pagination li .pagination-link.active,
	.pagination li .pagination-link:active {
	    color: #b0198f;
	}

	/*-- Footer --*/

	

	/*-- /Footer --*/

}

@media only screen and (min-width: 768px) {

	.resp-navigation {
	    display: none !important;
	}

}